<!--
/views/layout.erb
- used to host common content for views
-->

<!doctype html>
<html lang="en">
  <head>
    <title>Hangman</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/images/favicon.ico?" type="image/x-icon">  <!-- added to get favicon to load -->
  </head>
  <body>
  <header>
    <h1>Hangman</h1>
  </header>
<section>
    <div class="row">
      <div class="column">
        <pre>
Score
-----
Won: <%= @won %>     Lost: <%= @lost %>
        </pre>
      </div>
    </div>
    <div class="row">
      <div>
        <img src=<%= @image %> alt="Whoops - image failed to load...">
      </div>
    </div>
    <div class="row">
      <div class="column">
        <p>
          Word: <%= @current %><br><br>
          Letters: <%= @guessed %>
        </p>
      </div>
    </div>
    <%= yield %>  <!-- load unique content from other .erb files -->
    <div>
      <p class="copyright">©2017 jverbosky</p>  <!-- copyright text -->
    </div>
  </section>
  </body>
</html>