<!--
/views/layout.erb
- used to host common content for views
-->

<!doctype html>
<html lang="en">
  <head>
    <title>Hangman</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/images/favicon.ico?" type="image/x-icon">  <!-- added to get favicon to load -->
  </head>
  <body>
  <header>
    <h1>Hangman</h1>
  </header>
  <section>
    <div class="row">
      <p>
        <b>Score</b><br>
        -----<br>
        <b>Won:</b> <%= @won %>     <b>Lost:</b> <%= @lost %>
      </p>
    </div>
    <div class="row">
      <div>
        <img src=<%= @image %> alt="Whoops - image failed to load...">
      </div>
    </div>
    <div class="row">
      <p>
        <b>Word:</b> <%= @current %><br><br>
        <b>Letters:</b> <%= @guessed %>
      </p>
    </div>
    <%= yield %>  <!-- load unique content from other .erb files -->
    <div class="row">
      <p style="position: fixed; bottom: 0; text-align: center">©2017 jverbosky</p>  <!-- copyright text -->
    </div>
  </section>
  </body>
</html>