<!--
/views/layout.erb
- used to host common content for views
-->

<!doctype html>
<html lang="en">
  <head>
    <title>Hangman</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/images/favicon.ico?" type="image/x-icon">  <!-- added to get favicon to load -->
  </head>
  <body>
  <header>
    <div class="row">
      <table>
        <tr>
          <td style="font-size: 24px; vertical-align: middle"><b>Score</b></td>
          <td><b>Won: <%= @won %></b></td>
          <td><b>Lost: <%= @lost %></b></td>
        </tr>
      </table>
    </div>
  </header>
  <section>
    <div class="row">
      <div>
        <img src=<%= @image %> alt="Whoops - image failed to load...">
      </div>
    </div>
    <div class="row">
      <p>Word: <%= @current %></p>
      <p>Letters: <%= @guessed %></p>
    </div>
    <%= yield %>  <!-- load unique content from other .erb files -->
    <div class="row">
      <p style="position: fixed; bottom: 0; text-align: center">©2017 jverbosky</p>  <!-- copyright text -->
    </div>
  </section>
  </body>
</html>